In [2]:
!ls

physicians-and-surgeons-by-race-ethnicity-and-practice-location-.csv
Untitled.ipynb

In [2]:
import pandas as pd
dataf = pd.read_csv("physicians-and-surgeons-by-race-ethnicity-and-practice-location-.csv")

In [3]:
type(dataf)

pandas.core.frame.DataFrame

In [4]:
dataf.head()

,Month,Year,Primary Practice County,Race/Ethnicity,Count of Licensees
0,March,2016,Alameda,African-American/Black/African,148
1,March,2016,Alameda,American Indian/ Native America,6
2,March,2016,Alameda,Asian - Cambodian,1
3,March,2016,Alameda,Asian - Chinese,284
4,March,2016,Alameda,Asian - Indian,273

In [5]:
len(dataf)

892

In [6]:
dataf["Race/Ethnicity"]

0        African-American/Black/African
1       American Indian/ Native America
2                     Asian - Cambodian
3                       Asian - Chinese
4                        Asian - Indian
                     ...
887     Caucasian/White/European/Middle
888                    Decline To State
889    Latino/Hispanic - South American
890          Native Hawaiian - Filipino
891                               Other
Name: Race/Ethnicity, Length: 892, dtype: object

In [7]:
dataf.count()

Month                      892
Year                       892
Primary Practice County    892
Race/Ethnicity             892
Count of Licensees         892
dtype: int64

In [8]:
dataf.describe()

         Year  Count of Licensees
count   892.0          892.000000
mean   2016.0           56.280269
std       0.0          311.924848
min    2016.0            1.000000
25%    2016.0            2.000000
50%    2016.0            5.000000
75%    2016.0           20.000000
max    2016.0         7404.000000

In [10]:
dataf.shape

(892, 5)

Notes: Don't necesarily need to set index; you can just point to the column to group by

In [12]:
dataf_group=dataf.groupby(["Primary Practice County"])

In [13]:
dataf_group

In [14]:
type(dataf_group)

pandas.core.groupby.generic.DataFrameGroupBy

In [15]:
dataf_group

Primary Practice County
Alameda            26
Alpine              1
Amador              6
Butte              16
Calaveras           5
Colusa              3
Contra Costa       25
Del Norte           2
El Dorado          13
Fresno             25
Glenn               2
Humboldt           11
Imperial           17
Inyo                1
Kern               23
Kings              17
Lake               11
Lassen              4
Los Angeles        33
Madera             16
Marin              20
Mariposa            1
Mendocino           9
Merced             22
Modoc               1
Mono                3
Monterey           22
Napa               20
Nevada             12
Orange             29
Placer             24
Plumas              3
Riverside          29
Sacramento         29
San Benito          7
San Bernardino     29
San Diego          28
San Francisco      28
San Joaquin        24
San Luis Obispo    19
San Mateo          25
Santa Barbara      22
Santa Clara        27
Santa Cruz         20
Shasta             13
Siskiyou            3
Solano             20
Sonoma             21
Stanislaus         23
Sutter             14
Tehama              5
Trinity             1
Tulare             22
Tuolumne            6
Ventura            25
Yolo               18
Yuba               11
dtype: int64

In [16]:
len(dataf_group)

57

In [18]:
dataf.loc[(df['Primary Practice County']== 'Alameda'),['Race/Ethnicity','Count of Licenses']].plot()

NameError: name 'df' is not defined