In [93]:
import pandas as pd

Absolute path to workspace:

In [94]:
#data_race=pd.read_csv("/home/jovyan/diverse-healthcare/data/Physicians-data/Physicians-by-race-and-practice-location/physicians-and-surgeons-by-race-ethnicity-and-practice-location-.csv")

relative path:

In [95]:
df=pd.read_csv("../data/Physicians-data/Physicians-by-race-and-practice-location/physicians-and-surgeons-by-race-ethnicity-and-practice-location-.csv")

In [96]:
df.head()

,Month,Year,Primary Practice County,Race/Ethnicity,Count of Licensees
0,March,2016,Alameda,African-American/Black/African,148
1,March,2016,Alameda,American Indian/ Native America,6
2,March,2016,Alameda,Asian - Cambodian,1
3,March,2016,Alameda,Asian - Chinese,284
4,March,2016,Alameda,Asian - Indian,273

In [97]:
len(df)

892

In [98]:
df.groupby(['Primary Practice County']).count()

                         Month  Year  Race/Ethnicity  Count of Licensees
Primary Practice County
Alameda                     26    26              26                  26
Alpine                       1     1               1                   1
Amador                       6     6               6                   6
Butte                       16    16              16                  16
Calaveras                    5     5               5                   5
Colusa                       3     3               3                   3
Contra Costa                25    25              25                  25
Del Norte                    2     2               2                   2
El Dorado                   13    13              13                  13
Fresno                      25    25              25                  25
Glenn                        2     2               2                   2
Humboldt                    11    11              11                  11
Imperial                    17    17              17                  17
Inyo                         1     1               1                   1
Kern                        23    23              23                  23
Kings                       17    17              17                  17
Lake                        11    11              11                  11
Lassen                       4     4               4                   4
Los Angeles                 33    33              33                  33
Madera                      16    16              16                  16
Marin                       20    20              20                  20
Mariposa                     1     1               1                   1
Mendocino                    9     9               9                   9
Merced                      22    22              22                  22
Modoc                        1     1               1                   1
Mono                         3     3               3                   3
Monterey                    22    22              22                  22
Napa                        20    20              20                  20
Nevada                      12    12              12                  12
Orange                      29    29              29                  29
Placer                      24    24              24                  24
Plumas                       3     3               3                   3
Riverside                   29    29              29                  29
Sacramento                  29    29              29                  29
San Benito                   7     7               7                   7
San Bernardino              29    29              29                  29
San Diego                   28    28              28                  28
San Francisco               28    28              28                  28
San Joaquin                 24    24              24                  24
San Luis Obispo             19    19              19                  19
San Mateo                   25    25              25                  25
Santa Barbara               22    22              22                  22
Santa Clara                 27    27              27                  27
Santa Cruz                  20    20              20                  20
Shasta                      13    13              13                  13
Siskiyou                     3     3               3                   3
Solano                      20    20              20                  20
Sonoma                      21    21              21                  21
Stanislaus                  23    23              23                  23
Sutter                      14    14              14                  14
Tehama                       5     5               5                   5
Trinity                      1     1               1                   1
Tulare                      22    22              22                  22
Tuolumne                     6     6               6                   6
Ventura                     25    25              25                  25
Yolo                        18    18              18                  18
Yuba                        11    11              11                  11

In [99]:
df=df.drop(['Month','Year'], axis=1)

In [100]:
df['Race/Ethnicity'].nunique()

33

In [101]:
df=df.replace({'Race/Ethnicity':{'No Bubble Marked For Ethnic Background':'Other',
                              'Decline To State':'Other'}})

In [103]:
df['Race/Ethnicity'].nunique()

31

In [104]:
sorted(df['Race/Ethnicity'].unique())

['African-American/Black/African',
 'American Indian/ Native America',
 'Asian - Cambodian',
 'Asian - Chinese',
 'Asian - Indian',
 'Asian - Indonesian',
 'Asian - Japanese',
 'Asian - Korean',
 'Asian - Laotian/Hmong',
 'Asian - Other Asian',
 'Asian - Pakistani',
 'Asian - Thai',
 'Asian - Vietnamese',
 'Caucasian/White/European/Middle',
 'Latino/Hispanic - Central American',
 'Latino/Hispanic - Cuban',
 'Latino/Hispanic - Mexican',
 'Latino/Hispanic - Other Hispanic',
 'Latino/Hispanic - Puerto Rican',
 'Latino/Hispanic - South American',
 'Malaysian',
 'Native Hawaiian - Fijian',
 'Native Hawaiian - Filipino',
 'Native Hawaiian - Guamanian',
 'Native Hawaiian - Hawaiian',
 'Native Hawaiian - Other Pacific',
 'Native Hawaiian - Samoan',
 'Native Hawaiian - Tongan',
 'Other',
 'Singaporean',
 'Taiwanese']

In [106]:
df['Primary Practice County'].nunique()

57

In [105]:
sorted(df['Primary Practice County'].unique())

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']

In [110]:
!pwd

/home/jovyan/diverse-healthcare/notebooks

In [112]:
df.to_csv('../data/Cleaned-data/CLEANED-physicians-and-surgeons-by-race-ethnicity-and-practice-location-.csv')